<section id="notes" class="notes tab-pane">
	<div class="margin-bottom col-md-12">
		<h1 class="border-bottom title">Notes</h1>
        <div class="info-form-left col-md-6">
					<%= form_for [@pregnancy, @pregnancy.notes.new] do |f| %>
				    <%= f.label :full_text %>
				    <%= f.text_area :full_text %>

				    <%= f.submit class: "btn btn-primary"  %>

				  <% end %>
        </div>
	</div>
</section>

<div>
<% @pregnancy.notes.each do |note| %>
	<div>
		<span><%= note.created_at.getlocal.strftime("%-m/%-d") %></span>
		<span><%= note.created_at.getlocal.strftime("%l:%M %P") %></span>
		<span><%= "user" %></span>
		<p><%= note.full_text %></p>
	</div>
<% end %>
</div>
