<!-- Patient Info -->

<%= render partial: "pledge", locals: { pregnancy: @pregnancy } %>

<div id="patient_dashboard" class="row">
  <%= render partial: 'pregnancies/displays/patient_dashboard', locals: { pregnancy: @pregnancy } %>
</div>

<div id="patient_detail" class="row">
  <div class="col-sm-4">
    <div id="menu" class="col-sm-9">
      <%= render partial: 'pregnancies/displays/menu', locals: { pregnancy: @pregnancy } %>
    </div>
  </div>

  <div id="sections" class="col-sm-8 tab-content">
    <%= render partial: 'pregnancies/displays/abortion_information', locals: { pregnancy: @pregnancy } %>
    <%= render partial: 'pregnancies/displays/patient_information', locals: { pregnancy: @pregnancy } %>
    <%= render partial: 'pregnancies/displays/change_log', locals: { pregnancy: @pregnancy } %>
    <%= render partial: 'pregnancies/displays/call_log', locals: { pregnancy: @pregnancy } %>
    <%= render partial: 'pregnancies/displays/notes', locals: { pregnancy: @pregnancy, note: @note } %>
  </div>
</div>
